@use '@/assets/styles/settings' as s;

.progressBarContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressBar {
    transform: rotate(-90deg);

    &__background {
        fill: none;
        stroke: #e6e6e6;
    }

    &__progress {
        fill: none;
        stroke-linecap: round;
        transition: stroke-dashoffset 0.5s ease-out;
    }
}

.progressBar__text {
    position: absolute;
    font-family: sans-serif;
    text-align: center;
    color: s.$text-primary;

    .score {
        font-size: 1.8rem;
        font-weight: bold;
        display: block;
        line-height: 1;

        @media (max-width: 784px) {
            font-size: 1.6rem;
        }

        @media (max-width: 480px) {
            font-size: 1.4rem;
        }
    }

    .maxScore {
        font-size: 0.9rem;
        color: s.$text-secondary;

        @media (max-width: 784px) {
            font-size: 0.8rem;
        }

        @media (max-width: 480px) {
            font-size: 0.7rem;
        }
    }
}